lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.deb

pids
results

npm-debug.log
node_modules
app/test-application

# Vagrant files
.vagrant

logs/app/forever.log
logs/app/out.log
logs/app/err.log
logs/app/urls.txt
logs/db/urls.txt
logs/apt-cache/lock
